In [74]:
import sys
print(sys.executable)

C:\Users\imane\Anaconda3\envs\DeepLearning\python.exe

In [8]:
import numpy as np
import pandas as pd
import pickle
from nltk.corpus import stopwords
from sklearn.decomposition import TruncatedSVD
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder 
from sklearn.preprocessing import normalize

from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.
C:\Users\imane\Anaconda3\envs\DeepLearning\lib\site-packages\tensorflow\python\framework\dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\imane\Anaconda3\envs\DeepLearning\lib\site-packages\tensorflow\python\framework\dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\imane\Anaconda3\envs\DeepLearning\lib\site-packages\tensorflow\python\framework\dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\imane\Anaconda3\envs\DeepLearning\lib\site-packages\tensorflow\python\framework\dtypes.py:529: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\imane\Anaconda3\envs\DeepLearning\lib\site-packages\tensorflow\python\framework\dtypes.py:530: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\imane\Anaconda3\envs\DeepLearning\lib\site-packages\tensorflow\python\framework\dtypes.py:535: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [11]:
def preproc(path):
    data_r = pd.read_csv(path+'ratings.csv')
    
    
    data_m = pd.read_csv(path+'movies.csv')
    
    
    data_m['title_genre'] = data_m['title'] + data_m['genre'] #choice b/w doing separately or together
    
    data_m.drop([ 'origin_iid', 'title', 'genre'], axis='columns', inplace=True)
    #print(data_r)
    
    
    
    #data_m = data_m.loc[data_m['itemId'].isin(item_id)]
    
    return data_m, data_r


def create_tfidf_svd(str_list):
    vectorizer = TfidfVectorizer(min_df=2, max_features=70000, strip_accents='unicode',lowercase =True,
                            analyzer='word', token_pattern=r'\w+', use_idf=True, 
                            smooth_idf=True, sublinear_tf=True, stop_words = 'english')
    vectors = vectorizer.fit_transform(str_list)
    svd = TruncatedSVD(n_components = 300)
    vectors = svd.fit_transform(vectors)    #ndarray
    #vectors = vectors.tolist()
    return vectors

def state_repr_module(vectors):
    #element wise multiplcation + concatenation/flatten
    S = []
    for i in range(len(vectors)):
        S.extend(vectors[i])
    for i in range(0 , len(vectors)):
        for j in range(i+1, len(vectors)):
            S.extend(np.multiply(vectors[i], vectors[j]))
    return S

In [12]:
def actor(k):
    model = Sequential()
    model.add(Dense(12, input_dim=k, activation='relu')
    model.add(Dense(8, activation='relu'))
    model.add(Dense(1, activation='tanh'))
    model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
    ## action - a
    return model

def critic(k):
    model = Sequential()
    model.add(Dense(12, input_dim=k, activation='relu')
    ##concat 
    model.add(Dense(8, activation='relu'))
    model.add(Dense(1, activation='relu'))
    
    return model

SyntaxError: invalid syntax (<ipython-input-12-ba45662642b4>, line 4)

In [13]:
def main():
    path = 'data/'
    data_m, data_r = preproc(path)
    vectors = create_tfidf_svd(data_m['title_genre']) 
    print(vectors.shape)

    
    item_id = list(data_r.loc[data_r['userId'] == 0]['itemId']) ##selecting first user's item ids
    user_vectors = []
    for i in item_id:
        user_vectors.append(vectors[i])
    
    n = 10
    S = state_repr_module(user_vectors[0:n])
    k = len(S)    #length of concat vector
    
    
    
    model = nn(k)
    
    model.fit(, , epochs=150, batch_size=10)
    

if __name__ == '__main__':
    main()

(3706, 300)
16500

      origin_uid  userId gender  age  occupation zipcode
5982        5983    5982      M   25           3   29208